httpx~=0.23.3
openai~=0.27.2
pydantic~=1.10.6
paho-mqtt~=1.6.1
pyppeteer~=1.0.2
requests~=2.28.2
numpy~=1.24.2
imageio~=2.26.0
fuzzyfinder~=2.1.0
pandas~=1.5.3
jionlp~=1.4.35
beautifulsoup4~=4.11.2
lxml~=4.9.2
pyChatGPT~=0.4.3.3