httpx~=0.23.1
beautifulsoup4~=4.11.1
lxml~=4.9.2
pydantic~=1.10.2
openai~=0.25.0
paho-mqtt~=1.6.1
pyChatGPT~=0.3.9.4
pyppeteer~=1.0.2
requests~=2.28.1
numpy~=1.24.0
imageio~=2.23.0
fuzzyfinder~=2.1.0
revChatGPT~=0.1.1
pandas~=1.5.2
jionlp~=1.4.28